{% extends "main_pages/base.html" %}
{% load snippet_tags %}

{% block content %}

{% get_lab_infos as infos %}

<div class="jumbotron">
    <h1 class="display-3">Machine Learning Lab (MLL)</h1>
    <p class="lead"> Sharif University of Technology </p>

    <hr class="my-4">
    <dl class="row">
        <dt class="col-sm-6">Address</dt>
        <dd>{{ infos.address }}</dd>

        <dt class="col-sm-6">Phone Number</dt>
        <dd>{{ infos.phone_number }}</dd>

        <dt class="col-sm-6">Email</dt>
        <dd>{{ infos.contact_email }}</dd>
    </dl>
</div>



{% endblock content %}