{% load wagtailimages_tags %}

<div class="card" style="width:100%">
  {% image person.profile_pic max-200x200 as img %}

  <div class="card-body">
    <div class="row">
      <img src="{{img.url}}" class="col-md-4" style="width:200px" alt="{{ person.name }}">

      <div class="col-md-8">
        <h5 class="d-inline-flex card-title">{{ person.name }}</h5>
        <p class="card-text">
          {% comment %} {% if person.project_title != "" %}
          <dl class="row">
            <dt class="col-md-3">Project Title</dt>
            <dd>{{ person.project_title }}</dd>
          </dl>
          {% endif %} {% endcomment %}
          <div class="row align-items-end">
            <a href="{{ person.homepage }}" class="btn btn-primary">Homepage</a>
            <a href="mailto:{{ person.email }}" class="btn btn-primary">Email</a>
          </div>
        </p>
      </div>
    </div>

  </div>
</div>